################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
*/obj
/.vs/TherapyTrack/v17/.suo
